<template name="esileht">
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img src="/images/slide-01.jpg" class="img-rounded" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Seebirakendus</h1>
            <p class="lead">Mitte lihtsalt veebirakendus. Veebirakendus koos FaceBooki loginiga. Isn't this something?</p>
            <a class="btn btn-large btn-primary" href="#">Logi sisse!</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="/images/slide-01.jpg" class="img-rounded" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Meie hoolime oma kasutajatest</h1>
            <p class="lead">Päriselt ka.</p>
            <a class="btn btn-large btn-primary" href="#">Uuri lähemalt</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="/images/slide-01.jpg" class="img-rounded" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Kui ikka veel kahtled, vali meid!</h1>
            <p class="lead">Sest teised on ju sama hullud. Miks siis mitte meid valida?</p>
            <a class="btn btn-large btn-primary" href="#">Vaata galeriid</a>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div><!-- /.carousel -->
</template>