<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>vali</title>
</head>

<body>
  <div class="container">
    <div class="row noprint">
      <div class="span12">
        <p class="notReal">Antud rakendus ei ole mõeldud kasutamiseks reaalsetel valimistel</p>
        <div><br /><br /></div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        {{> page_controller}}
      </div>
    </div>
  </div>
</body>

<template name="page_controller">
  {{{set_title}}}
  {{> menu}}
  <div id="alert-messages" class="alert alert-info disabled"></div>
  <div id="pageMainContent">
    {{{display_page}}}
  </div>
  <div id="footer">
  <p class="notReal">Rakenduses realiseeritud e-valimiste näide on realiseeritud tehnoloogiate praktiseerimise eesmärgil ning ei ole mõeldud reaalsete e-valimiste korraldamiseks. Kokkulangevused reaalse e-valimiste protsessiga on juhuslikud</p>
  </div>
</template>
