<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>vali</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="span12 noprint" style="text-align: right;">
        {{loginButtons}}
      </div>
    </div>
    <div class="row"><div class="span1 noprint"><br /></div></div>
    <div class="row">
      <div class="span12">
        {{> page_controller}}
      </div>
    </div>
  </div>
</body>

<template name="page_controller">
  {{{set_title}}}
  {{#constant}}
  {{> menu}}
  {{/constant}}
  <div id="alert-messages" class="alert alert-info">
    Sinu kandidatuuritaotlus on esitamata.
  </div>  
  <div id="pageMainContent">
    {{{display_page}}}
  </div>
</template>

<template name="menu">
  <div class="navbar navbar-inverse noprint">
    <div class="navbar-inner">
        <ul id="main-menu" class="nav">
          <li><a href="/tulemused">Tulemused</a></li>
          <li><a href="/nimekirjad">Nimekirjad</a></li>
          <li><a href="/kandidatuur">Kandidatuur</a></li>
          <li><a href="/kaart">Kaart</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="/test">Test</a></li>
        </ul>
      </div>
    </div>
  </div>  
</template>
