<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>vali</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="span12" style="text-align: right;">
        {{loginButtons}}
      </div>
    </div>
    <div class="row"><div class="span1"><br /></div></div>
    <div class="row">
      <div class="span12">
        {{> page_controller}}
      </div>
    </div>
  </div>
</body>

<template name="page_controller">
  {{> menu}}
  {{{display_page}}}
</template>

<template name="menu">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <ul class="nav">
          <li><a href="/esileht">Esileht</a></li>
          <li><a href="/tulemused">Tulemused</a></li>
          <li><a href="/nimekirjad">Nimekirjad</a></li>
          <li><a href="/kandidatuur">Kandidatuur</a></li>
          <li><a href="/kaart">Kaart</a></li>
        </ul>
        <ul class="nav pull-right">
        </ul>
      </div>
    </div>
  </div>  
</template>