<template name="kandidaadi_info">
  {{#if candidate}}
    {{#with candidate}}
    <div class="details-view">
      <div class="row">
        <div class="span2">
          <img src="images/mayor-quimby.jpeg" class="img-rounded" />
        </div>
        <div class="span8">
          <div class="row">
            <div class="span8"><h3>{{firstName}} {{lastName}}</h3></div>
          </div>
          <div class="row">
            <div class="span2"><label>Piirkond</label></div>
            <div class="span6">{{regionName}}</div>
          </div>
          <div class="row">
            <div class="span2"><label>Erakond:</label></div>
            <div class="span6">
              {{#unless noPartyLink}}
                <a href="../erakonna_info?id={{{partyId}}}">{{partyName}}</a>
              {{else}}
                {{partyName}}
          	  {{/unless}}
            </div>            
          </div>
          <div class="row">
            <div class="span2">
      	      <label>Registreerimisnumber</label>              
            </div>
            <div class="span6">
              {{registrationNr}}
            </div>
          </div>
          <div class="row">
            <div class="span2"><label>Perekonnaseis</label></div>
            <div class="span6">{{maritalStatus}}</div>
          </div>
          <div class="row">
            <div class="span2"><label>Telefon</label></div>
            <div class="span6">{{phone}}</div>
          </div>
          <div class="row">
            <div class="span2"><label>E-post</label></div>
            <div class="span6">{{email}}</div>
          </div>
          <div class="row">
            <div class="span2"><label>Lisainfo</label></div>
            <div class="span6">{{description}}</div>
          </div>
        </div>
      </div>
    </div>
    {{/with}}
  {{/if}}
</template>
