<template name="kandidaadi_info">
  <div class="well">
    <form class="form-horizontal">
      <fieldset>

        <legend>Kandidaat: {{candidate.firstName}} {{candidate.lastName}}</legend>

        <div class="row">
          <div class="span3">


	    <div class="control-group">
              <label class="control-label">Piirkond: {{candidate.regionName}}</label>
	      <label class="control-label">Erakond: 
            	{{#unless candidate.noPartyLink}}
              		<a href="../erakonna_info?id={{{candidate.partyId}}}">{{candidate.partyName}}</a>
            	{{else}}
              		{{candidate.partyName}}
	    	{{/unless}}			
		</label>
              <label class="control-label">Koht nimekirjas: {{candidate.listPosition}}</label>
	      <label class="control-label">Registreerimisnumber: {{candidate.registrationNr}}</label>          
          </div>

	    <div class="control-group">
              <label class="control-label">Perekonnaseis: {{candidate.maritalStatus}}</label>
	      <label class="control-label">Telefon: {{candidate.phone}}</label>
	      <label class="control-label">Epost: {{candidate.email}}</label>
          </div>
          
          <div class="span3">
            <div class="control-group">
              <label class="control-label">Pilt</label>
              <div class="controls">
                <div class="img-rounded" style="width: 130px; height: 130px; background-color: #e0e0e0;"></div>
                <br />
            </div>
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="inputDescription">Kirjeldus</label>
          <div class="controls">
            <textarea id="inputDescription" style="width: 80%; height: 180px;" placeholder="{{candidate.description}}"></textarea>
          </div>
        </div>

      </fieldset>  
    </form>
  </div>
</template>
