<template name="kandidaadi_info">
  {{#if candidate}}
  {{#with candidate}}
  <div class="well">
    <form class="form-horizontal">
      <fieldset>

        <legend>Kandidaat: {{firstName}} {{lastName}}</legend>

        <div class="row">
          <div class="span3">


	    <div class="control-group">
              <label class="control-label">Piirkond: {{regionName}}</label>
	      <label class="control-label">Erakond: 
	      {{#unless noPartyLink}}
		<a href="../erakonna_info?id={{{partyId}}}">{{partyName}}</a></label>
		<label class="control-label">Koht nimekirjas: {{listPosition}}</label>
            	{{else}}
              		{{partyName}}</label>
	    	{{/unless}}			
		              
	      <label class="control-label">Registreerimisnumber: {{registrationNr}}</label>          
          </div>

	    <div class="control-group">
              <label class="control-label">Perekonnaseis: {{maritalStatus}}</label>
	      <label class="control-label">Telefon: {{phone}}</label>
	      <label class="control-label">Epost: {{email}}</label>
          </div>
          
          <div class="span3">
            <div class="control-group">
              <label class="control-label">Pilt</label>
              <div class="controls">
                <div class="img-rounded" style="width: 130px; height: 130px; background-color: #e0e0e0;"></div>
                <br />
            </div>
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="inputDescription">Kirjeldus</label>
          <div class="controls">
            <textarea id="inputDescription" style="width: 80%; height: 180px;" placeholder="{{description}}"></textarea>
          </div>
        </div>

      </fieldset>  
    </form>
  </div>
  {{/with}}
  {{/if}}
</template>
