<template name="kandidatuuri_staatus">
    
  <div class="well">
    <form class="form-horizontal" id="candidacy-apply-form">
      <input type="hidden" id="selected-region" />
      <input type="hidden" id="selected-party" />
      <fieldset>
        <legend>Staatus</legend>
        <div class="control-group">
            <label class="control-label" id="select-region-label">Valimisringkond</label>
            <div class="controls">
              <div class="btn-group" id="regions-dropdown">
                <button class="btn dropdown-label" data-toggle="dropdown">Vali...</button>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  {{#each regions}}
                    <li><a data-cid="{{cid}}" tabindex="{{cid}}">{{name}}</a></li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" id="select-party-label">Erakond</label>
            <div class="controls">
              <div class="btn-group" id="parties-dropdown">
                <button class="btn dropdown-label" data-toggle="dropdown">Vali...</button>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  {{#each parties}}
                    <li><a data-cid="{{cid}}" tabindex="{{cid}}">{{name}}</a></li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary" id="submit_candidate">Esita taotlus</button>
            </div>
          </div>
      </fieldset>
    </form>
  </div>
    
</template>
