<template name="menu">
  <div class="navbar navbar-inverse noprint">
    <div class="navbar-inner">
        <ul id="main-menu" class="nav">
          <li><a class="navigate" href="/" title="Avaleht"><i class="icon-home icon-white"></i></a></li>
          <li><a class="navigate" href="/tulemused">Tulemused</a></li>
          <li><a class="navigate" href="/nimekirjad">Nimekirjad</a></li>
          <li><a class="navigate" href="/kandidatuur">Kandidatuur</a></li>
          <li><a class="navigate" href="/kaart">Kaart</a></li>
          <li><a class="navigate" href="/graafikud">Graafikud</a></li>
        </ul>
        <ul id="login-menu" class="nav pull-right">
          {{#if currentUser}}
            <li><a class="accounts" href="#" data-action="logout"><img class="img-rounded" style="width: 25px;" src="{{currentUser.profile.avatar_url}}" /> {{currentUser.profile.name}} (logi välja)</a></li>  
          {{else}}
            {{#if loggingIn}}
              <li><a href="#">login sisse...</a></li>
            {{else}}
              <li class="dropdown">
                <a class="dropdown-toggle" id="show_login_dropdown" data-toggle="dropdown" href="#">Logi sisse <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a class="accounts" id="login_github" href="#" data-action="github">Githubiga</a></li>
                  <li><a class="accounts" id="login_fb" href="#" data-action="facebook">Facebookiga</a></li>
                  <!--<li><a class="accounts" id="login_fb_test" href="https://graph.facebook.com/549549415067367/accounts/test-users?access_token=549549415067367|W1vOSZe65mLAgM6ITgNtJauh2AY">FB_testuser_data</a></li>-->
                  <!-- <li><a class="navigate" href="/login" data-action="oldschool">Vanakool</a></li> -->
                </ul>
              </li>
            {{/if}}
          {{/if}}
        </ul>
      </div>
    </div>
  </div>  
</template>
