<template name="nimekirjad">
  
  <div class="noprint btn-toolbar">    
    <div class="btn-group">
        <form id="search-form" class="form-inline" method="get">
          <input type="checkbox" id="firstName_checkbox" {{#if currentSearchFirstNameEnabled}}checked="checked" {{/if}}/>
          <input type="checkbox" id="lastName_checkbox" {{#if currentSearchLastNameEnabled}}checked="checked" {{/if}}/>
          <input type="checkbox" id="region_checkbox" {{#if currentSearchRegionEnabled}}checked="checked" {{/if}}/>
          <input type="checkbox" id="party_checkbox" {{#if currentSearchPartyEnabled}}checked="checked" {{/if}}/>
          <div class="input-append">
            <input id="searchfield" type="text" value="{{currentSearchValue}}" />
            <button id="search-btn" class="btn" type="button">Otsi</button>
          </div>
        </form>
    </div>
    <div class="btn-group">
      <button class="btn reset">Tühjenda</button>
    </div>
    <div class="btn-group filter">
      <button class="btn{{#if currentSearchFirstNameEnabled}} active{{/if}}" data-click="firstName_checkbox">Eesnimi</button>
      <button class="btn{{#if currentSearchLastNameEnabled}} active{{/if}}" data-click="lastName_checkbox">Perenimi</button>
      <button class="btn{{#if currentSearchRegionEnabled}} active{{/if}}" data-click="region_checkbox">Piirkond</button>
      <button class="btn{{#if currentSearchPartyEnabled}} active{{/if}}" data-click="party_checkbox">Erakond</button>
    </div>
    </form>
  </div>

  {{#if currentUser}}
    <div class="alert alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Valitud kandidaat</h4>
      Valitud kandidaat puudub. Enda hääle andmiseks kandidaadile klõpsa allpool olevas nimekirjas sobiva kandidaadi nime järel "HÄÄLETA".
    </div>
  {{/if}}
  
  <table class="table table-bordered table-striped tablesorter">
    <thead>
      <tr>
        <th>Eesnimi</th>
        <th>Perenimi</th>
        <th>Piirkond</th>
        <th>Erakond</th>
        {{#if currentUser}}
          <th>Hääletus</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#isolate}}
      {{#each candidates}}
        <tr>
          <td><a href="../kandidaadi_info?id={{{cid}}}">{{firstName}}</a></td>
          <td><a href="../kandidaadi_info?id={{{cid}}}">{{lastName}}</a></td>
          <td>{{regionName}}</td>
          <td>
            {{#unless noPartyLink}}
              <a href="../erakonna_info?id={{{partyId}}}">{{partyName}}</a>
            {{else}}
              {{partyName}}
	    {{/unless}}
          </td>        
          {{#if currentUser}}
            <td><a href="#">Hääleta!</a></td>        
          {{/if}}
        </tr>
      {{/each}}
      {{/isolate}}
    </tbody>
  </table>
</template>
