<template name="nimekirjad">

  <div class="input-append">
    <form class="form-search">
      <input class="span2" id="appendedInputButton" type="text">
      <button class="btn" type="button">Otsi</button>
    </form>
  </div>

  {{#if currentUser}}
  <div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Valitud kandidaat</h4>
    Valitud kandidaat puudub. Enda hääle andmiseks kandidaadile klõpsa allpool olevas nimekirjas sobiva kandidaadi nime järel "HÄÄLETA".
  </div>
  {{/if}}
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Piirkond</th>
        <th>Erakond</th>
        {{#if currentUser}}
          <th>Hääletus</th>
        {{/if}}
      </tr>      
    </thead>
    <tbody>      
        {{#each candidates}}
      <tr>
        <td><a href="../kandidaadi_info?id={{{cid}}}">{{firstName}} {{lastName}}</a></td>
        <td>{{regionName}}</td>
        <td>{{partyName}}</td>
        {{#if currentUser}}
          <td><a href="#">Hääleta!</a></td>        
        {{/if}}
      </tr>
	{{/each}}
    </tbody>
  </table>
</template>
