<template name="tulemused">

  <div class="pull-right noprint">
    <div class="btn-group" id="region_filter">
      <select id="region_select" class="btn">
        <option value="-1">Vali piirkond</option>
        {{#each regions}}
        <option value="{{cid}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="btn-group" id="results_type">
      <button class="btn" data-type="candidates">Kandidaadid</button>
      <button class="btn" data-type="parties">Erakonnad</button>
    </div>
  </div>
  
  <div class="pull-left noprint">
    <div class="btn-group">
      <button class="btn">Vali esitlusviis</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a tabindex="-1" href="#">Tabelkujul</a></li>
        <!-- <li><a tabindex="-1" href="#">Veel mingi variant</a></li>
        <li><a tabindex="-1" href="#">Kolmas variant ka, palun</a></li> -->
      </ul>
    </div>    
  </div>
  
  <br /><br />

  {{#if show_candidates}}
  <table class="table table-bordered table-striped tablesorter">
    <thead>
      <tr>
        <th>Eesnimi</th>
        <th>Perenimi</th>
        <th>Piirkond</th>
        <th>Erakond</th>
        <th>Hääli</th>
      </tr>
    </thead>
    <tbody>
      {{#each candidates}}
        <tr>
          <td><a href="../kandidaadi_info?id={{{cid}}}">{{firstName}}</a></td>
          <td><a href="../kandidaadi_info?id={{{cid}}}">{{lastName}}</a></td>
          <td>{{regionName}}</td>
          <td>
            {{#unless noPartyLink}}
              <a href="../erakonna_info?id={{{partyId}}}">{{partyName}}</a>
            {{else}}
              {{partyName}}
	    {{/unless}}
          </td>
          <td>{{votes}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{else}}
  <table class="table table-bordered table-striped tablesorter">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Hääli</th>
        <th>Mandaate</th>
      </tr>      
    </thead>
    <tbody>
        {{#each parties}}
      <tr>
        {{#unless noPartyLink}}
          <td><a href="../erakonna_info?id={{{cid}}}">{{name}}</a></td>
        {{else}}
          <td>{{name}}</td>
        {{/unless}}
        <td>{{votes}}</td>
        <td>{{mandates}}</td>      
      </tr>
	{{/each}}
    </tbody>
  </table>
  {{/if}}
</template>
