<template name="tulemused">

  <div class="pull-right">
    <div class="btn-group">
      <button class="btn">Vali piirkond</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {{#each regions}}
        <li><a tabindex="{{cid}}" href="#">{{name}}</a></li>
        {{/each}}
      </ul>
    </div>
    <div class="btn-group">
      <button class="btn">Erakonnad</button>
      <button class="btn active">Kandidaadid</button>
    </div>
  </div>
  
  <div class="pull-left">
    <div class="btn-group">
      <button class="btn">Vali esitlusviis</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a tabindex="-1" href="#">Tabelkujul</a></li>
        <li><a tabindex="-1" href="#">Veel mingi variant</a></li>
        <li><a tabindex="-1" href="#">Kolmas variant ka, palun</a></li>
      </ul>
    </div>    
  </div>
  
  <br /><br />

  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Piirkond</th>
        <th>Erakond</th>
        <th>Hääli</th>
        <th>Mandaat</th>
      </tr>      
    </thead>
    <tbody>
      <tr>
        <td>Karlsson Katuselt</td>
        <td>Kohtla-Järve</td>
        <td>Kodumaa Kollane</td>
        <td>7</td>
        <td></td>
      </tr>
      <tr>
        <td>Keegi kuskilt</td>
        <td>Kohtla-Järve</td>
        <td>Roheline Rohelus</td>
        <td>9</td>
        <td></td>
      </tr>
      <tr>
        <td>Ranno Rambo</td>
        <td>Raplamaa</td>
        <td>Roheline Rohelus</td>
        <td>1</td>
        <td></td>
      </tr>
      <tr>
        <td>Tiina Tihemetsa</td>
        <td>Tartumaa</td>
        <td>Tuhat &amp; Tuline</td>
        <td>23</td>
        <td></td>
      </tr>
      <tr>
        <td>Valerie Liberty</td>
        <td>Valgamaa</td>
        <td>Vaprakesed</td>
        <td>666</td>
        <td><input type="checkbox" checked="checked" /></td>
      </tr>
    </tbody>
  </table>
</template>
