<template name="tulemused">

  <div class="pull-right">
    <div class="btn-group">
      <button class="btn">Vali piirkond</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {{#each regions}}
        <li><a tabindex="{{cid}}" href="#">{{name}}</a></li>
        {{/each}}
      </ul>
    </div>
    <div class="btn-group">
      <button class="btn">Erakonnad</button>
      <button class="btn active">Kandidaadid</button>
    </div>
  </div>
  
  <div class="pull-left">
    <div class="btn-group">
      <button class="btn">Vali esitlusviis</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a tabindex="-1" href="#">Tabelkujul</a></li>
        <li><a tabindex="-1" href="#">Veel mingi variant</a></li>
        <li><a tabindex="-1" href="#">Kolmas variant ka, palun</a></li>
      </ul>
    </div>    
  </div>
  
  <br /><br />

  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Piirkond</th>
        <th>Erakond</th>
        <th>Hääli</th>
      </tr>      
    </thead>
    <tbody>
        {{#each candidates}}
      <tr>
        <td>{{firstName}} {{lastName}}</td>
        <td>{{regionId}}</td>
        <td>{{partyId}}</td>
        <td>0</td>      
      </tr>
	{{/each}}
    </tbody>
  </table>
</template>
