html { 
	height: 100%;
}

body {
	height: 100%; 
	margin: 0; 
	padding: 0;
  padding-top: 40px;
}

#map_canvas {
  width: 1170px;
	height: 640px;
  background-color: #444444;
}
#errors {
    color:red;
}
#candidate-img {
    margin-left:100px;
}