html { 
	height: 100%;
}

body {
	height: 100%; 
	margin: 0; 
	padding: 0;
  padding-top: 40px;
}

#map_canvas {
  position: absolute; 
  top:200px;
  left:5%;
  width:90%; 
  height:60%; 
}

#errors {
  color: red;
}

.error {
  color: red !important;
  border: 1px solid #DC143C !important;
  padding: 12px;
}

#search-form {
  margin-bottom: 0 !important;
}

#search-form input[type=checkbox]{
  display: none;
}

/* Ma ei tea, mis kaalutlustel alljärgnev siia lisatud on, aga see rikkus kogu kandidaadi vormi 
  layoudi ja responsivenessi ära kahjuks. */

/*#candidate-img {
    margin-left:100px;
}
.navbar .nav li {
    min-width: 120px;
    text-align: center;
}
.span3 {
    width:100%;
}
.form-horizontal .control-label {
    width:250px;
    text-align:center;
}*/