html { 
	height: 100%;
}

body {
	height: 100%; 
	margin: 0; 
	padding: 0;
  padding-top: 40px;
}

#map_canvas {
  position: absolute; 
  top:200px;
  left:5%;
  width:90%; 
  height:60%; 
}
#errors {
    color:red;
}
#candidate-img {
    margin-left:100px;
}
.navbar .nav li {
    min-width: 120px;
    text-align: center;
}